FinalFirstFlow.json
[
    {
        "id": "bf06e2c230089da7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa75dcd8f78b363b",
        "type": "victron-input-battery",
        "z": "bf06e2c230089da7",
        "service": "com.victronenergy.battery.ttyUSB0",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery.ttyUSB0",
            "name": "SmartShunt 500A/50mV",
            "paths": [
                {
                    "path": "/Alarms/Alarm",
                    "type": "enum",
                    "name": "Alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighStarterVoltage",
                    "type": "enum",
                    "name": "High starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighTemperature",
                    "type": "enum",
                    "name": "High battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighVoltage",
                    "type": "enum",
                    "name": "High voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowSoc",
                    "type": "enum",
                    "name": "Low state-of-charge alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowStarterVoltage",
                    "type": "enum",
                    "name": "Low starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowTemperature",
                    "type": "enum",
                    "name": "Low battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowVoltage",
                    "type": "enum",
                    "name": "Low voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/MidVoltage",
                    "type": "enum",
                    "name": "Mid-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/ConsumedAmphours",
                    "type": "float",
                    "name": "Consumed Amphours (Ah)"
                },
                {
                    "path": "/Dc/0/Current",
                    "type": "float",
                    "name": "Current (A)"
                },
                {
                    "path": "/Dc/0/MidVoltage",
                    "type": "float",
                    "name": "Mid-point voltage of the battery bank (V)"
                },
                {
                    "path": "/Dc/0/MidVoltageDeviation",
                    "type": "float",
                    "name": "Mid-point deviation of the battery bank (%)"
                },
                {
                    "path": "/Dc/0/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/0/Voltage",
                    "type": "float",
                    "name": "Voltage (V)"
                },
                {
                    "path": "/Dc/1/Voltage",
                    "type": "float",
                    "name": "Starter battery voltage (V)"
                },
                {
                    "path": "/History/AutomaticSyncs",
                    "type": "float",
                    "name": "Automatic syncs (count)"
                },
                {
                    "path": "/History/AverageDischarge",
                    "type": "float",
                    "name": "Average discharge (Ah)"
                },
                {
                    "path": "/History/ChargeCycles",
                    "type": "float",
                    "name": "Charge cycles (count)"
                },
                {
                    "path": "/History/ChargedEnergy",
                    "type": "float",
                    "name": "Charged Energy (kWh)"
                },
                {
                    "path": "/History/DeepestDischarge",
                    "type": "float",
                    "name": "Deepest discharge (Ah)"
                },
                {
                    "path": "/History/DischargedEnergy",
                    "type": "float",
                    "name": "Discharged Energy (kWh)"
                },
                {
                    "path": "/History/FullDischarges",
                    "type": "float",
                    "name": "Full discharges (count)"
                },
                {
                    "path": "/History/HighStarterVoltageAlarms",
                    "type": "float",
                    "name": "High starter voltage alarms (count)"
                },
                {
                    "path": "/History/HighVoltageAlarms",
                    "type": "float",
                    "name": "High voltage alarms (count)"
                },
                {
                    "path": "/History/LastDischarge",
                    "type": "float",
                    "name": "Last discharge (Ah)"
                },
                {
                    "path": "/History/LowStarterVoltageAlarms",
                    "type": "float",
                    "name": "Low starter voltage alarms (count)"
                },
                {
                    "path": "/History/LowVoltageAlarms",
                    "type": "float",
                    "name": "Low voltage alarms (count)"
                },
                {
                    "path": "/History/MaximumStarterVoltage",
                    "type": "float",
                    "name": "Maximum starter voltage (V DC)"
                },
                {
                    "path": "/History/MaximumVoltage",
                    "type": "float",
                    "name": "Maximum voltage (V DC)"
                },
                {
                    "path": "/History/MinimumStarterVoltage",
                    "type": "float",
                    "name": "Minimum starter voltage (V DC)"
                },
                {
                    "path": "/History/MinimumVoltage",
                    "type": "float",
                    "name": "Minimum voltage (V DC)"
                },
                {
                    "path": "/History/TimeSinceLastFullCharge",
                    "type": "float",
                    "name": "Time since last full charge (seconds)"
                },
                {
                    "path": "/History/TotalAhDrawn",
                    "type": "float",
                    "name": "Total Ah drawn (Ah)"
                },
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Relay status",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Soc",
                    "type": "float",
                    "name": "State of charge (%)"
                },
                {
                    "path": "/TimeToGo",
                    "type": "float",
                    "name": "Time to go (h)"
                }
            ]
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Current (A)"
        },
        "initial": "",
        "name": "",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "e55d7a487edbe932"
            ]
        ]
    },
    {
        "id": "3e2d6a30d74519be",
        "type": "victron-input-battery",
        "z": "bf06e2c230089da7",
        "service": "com.victronenergy.battery.ttyUSB0",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery.ttyUSB0",
            "name": "SmartShunt 500A/50mV",
            "paths": [
                {
                    "path": "/Alarms/Alarm",
                    "type": "enum",
                    "name": "Alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighStarterVoltage",
                    "type": "enum",
                    "name": "High starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighTemperature",
                    "type": "enum",
                    "name": "High battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighVoltage",
                    "type": "enum",
                    "name": "High voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowSoc",
                    "type": "enum",
                    "name": "Low state-of-charge alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowStarterVoltage",
                    "type": "enum",
                    "name": "Low starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowTemperature",
                    "type": "enum",
                    "name": "Low battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowVoltage",
                    "type": "enum",
                    "name": "Low voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/MidVoltage",
                    "type": "enum",
                    "name": "Mid-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/ConsumedAmphours",
                    "type": "float",
                    "name": "Consumed Amphours (Ah)"
                },
                {
                    "path": "/Dc/0/Current",
                    "type": "float",
                    "name": "Current (A)"
                },
                {
                    "path": "/Dc/0/MidVoltage",
                    "type": "float",
                    "name": "Mid-point voltage of the battery bank (V)"
                },
                {
                    "path": "/Dc/0/MidVoltageDeviation",
                    "type": "float",
                    "name": "Mid-point deviation of the battery bank (%)"
                },
                {
                    "path": "/Dc/0/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/0/Voltage",
                    "type": "float",
                    "name": "Voltage (V)"
                },
                {
                    "path": "/Dc/1/Voltage",
                    "type": "float",
                    "name": "Starter battery voltage (V)"
                },
                {
                    "path": "/History/AutomaticSyncs",
                    "type": "float",
                    "name": "Automatic syncs (count)"
                },
                {
                    "path": "/History/AverageDischarge",
                    "type": "float",
                    "name": "Average discharge (Ah)"
                },
                {
                    "path": "/History/ChargeCycles",
                    "type": "float",
                    "name": "Charge cycles (count)"
                },
                {
                    "path": "/History/ChargedEnergy",
                    "type": "float",
                    "name": "Charged Energy (kWh)"
                },
                {
                    "path": "/History/DeepestDischarge",
                    "type": "float",
                    "name": "Deepest discharge (Ah)"
                },
                {
                    "path": "/History/DischargedEnergy",
                    "type": "float",
                    "name": "Discharged Energy (kWh)"
                },
                {
                    "path": "/History/FullDischarges",
                    "type": "float",
                    "name": "Full discharges (count)"
                },
                {
                    "path": "/History/HighStarterVoltageAlarms",
                    "type": "float",
                    "name": "High starter voltage alarms (count)"
                },
                {
                    "path": "/History/HighVoltageAlarms",
                    "type": "float",
                    "name": "High voltage alarms (count)"
                },
                {
                    "path": "/History/LastDischarge",
                    "type": "float",
                    "name": "Last discharge (Ah)"
                },
                {
                    "path": "/History/LowStarterVoltageAlarms",
                    "type": "float",
                    "name": "Low starter voltage alarms (count)"
                },
                {
                    "path": "/History/LowVoltageAlarms",
                    "type": "float",
                    "name": "Low voltage alarms (count)"
                },
                {
                    "path": "/History/MaximumStarterVoltage",
                    "type": "float",
                    "name": "Maximum starter voltage (V DC)"
                },
                {
                    "path": "/History/MaximumVoltage",
                    "type": "float",
                    "name": "Maximum voltage (V DC)"
                },
                {
                    "path": "/History/MinimumStarterVoltage",
                    "type": "float",
                    "name": "Minimum starter voltage (V DC)"
                },
                {
                    "path": "/History/MinimumVoltage",
                    "type": "float",
                    "name": "Minimum voltage (V DC)"
                },
                {
                    "path": "/History/TimeSinceLastFullCharge",
                    "type": "float",
                    "name": "Time since last full charge (seconds)"
                },
                {
                    "path": "/History/TotalAhDrawn",
                    "type": "float",
                    "name": "Total Ah drawn (Ah)"
                },
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Relay status",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Soc",
                    "type": "float",
                    "name": "State of charge (%)"
                },
                {
                    "path": "/TimeToGo",
                    "type": "float",
                    "name": "Time to go (h)"
                }
            ]
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "type": "float",
            "name": "Voltage (V)"
        },
        "initial": "",
        "name": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "1f52a6bdaa796a3a"
            ]
        ]
    },
    {
        "id": "cde1ffd910be693e",
        "type": "victron-input-battery",
        "z": "bf06e2c230089da7",
        "service": "com.victronenergy.battery.ttyUSB0",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery.ttyUSB0",
            "name": "SmartShunt 500A/50mV",
            "paths": [
                {
                    "path": "/Alarms/Alarm",
                    "type": "enum",
                    "name": "Alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighStarterVoltage",
                    "type": "enum",
                    "name": "High starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighTemperature",
                    "type": "enum",
                    "name": "High battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/HighVoltage",
                    "type": "enum",
                    "name": "High voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowSoc",
                    "type": "enum",
                    "name": "Low state-of-charge alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowStarterVoltage",
                    "type": "enum",
                    "name": "Low starter-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowTemperature",
                    "type": "enum",
                    "name": "Low battery temperature alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/LowVoltage",
                    "type": "enum",
                    "name": "Low voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/Alarms/MidVoltage",
                    "type": "enum",
                    "name": "Mid-voltage alarm",
                    "enum": {
                        "0": "No alarm",
                        "2": "Alarm"
                    }
                },
                {
                    "path": "/ConsumedAmphours",
                    "type": "float",
                    "name": "Consumed Amphours (Ah)"
                },
                {
                    "path": "/Dc/0/Current",
                    "type": "float",
                    "name": "Current (A)"
                },
                {
                    "path": "/Dc/0/MidVoltage",
                    "type": "float",
                    "name": "Mid-point voltage of the battery bank (V)"
                },
                {
                    "path": "/Dc/0/MidVoltageDeviation",
                    "type": "float",
                    "name": "Mid-point deviation of the battery bank (%)"
                },
                {
                    "path": "/Dc/0/Temperature",
                    "type": "float",
                    "name": "Battery temperature (C)"
                },
                {
                    "path": "/Dc/0/Voltage",
                    "type": "float",
                    "name": "Voltage (V)"
                },
                {
                    "path": "/Dc/1/Voltage",
                    "type": "float",
                    "name": "Starter battery voltage (V)"
                },
                {
                    "path": "/History/AutomaticSyncs",
                    "type": "float",
                    "name": "Automatic syncs (count)"
                },
                {
                    "path": "/History/AverageDischarge",
                    "type": "float",
                    "name": "Average discharge (Ah)"
                },
                {
                    "path": "/History/ChargeCycles",
                    "type": "float",
                    "name": "Charge cycles (count)"
                },
                {
                    "path": "/History/ChargedEnergy",
                    "type": "float",
                    "name": "Charged Energy (kWh)"
                },
                {
                    "path": "/History/DeepestDischarge",
                    "type": "float",
                    "name": "Deepest discharge (Ah)"
                },
                {
                    "path": "/History/DischargedEnergy",
                    "type": "float",
                    "name": "Discharged Energy (kWh)"
                },
                {
                    "path": "/History/FullDischarges",
                    "type": "float",
                    "name": "Full discharges (count)"
                },
                {
                    "path": "/History/HighStarterVoltageAlarms",
                    "type": "float",
                    "name": "High starter voltage alarms (count)"
                },
                {
                    "path": "/History/HighVoltageAlarms",
                    "type": "float",
                    "name": "High voltage alarms (count)"
                },
                {
                    "path": "/History/LastDischarge",
                    "type": "float",
                    "name": "Last discharge (Ah)"
                },
                {
                    "path": "/History/LowStarterVoltageAlarms",
                    "type": "float",
                    "name": "Low starter voltage alarms (count)"
                },
                {
                    "path": "/History/LowVoltageAlarms",
                    "type": "float",
                    "name": "Low voltage alarms (count)"
                },
                {
                    "path": "/History/MaximumStarterVoltage",
                    "type": "float",
                    "name": "Maximum starter voltage (V DC)"
                },
                {
                    "path": "/History/MaximumVoltage",
                    "type": "float",
                    "name": "Maximum voltage (V DC)"
                },
                {
                    "path": "/History/MinimumStarterVoltage",
                    "type": "float",
                    "name": "Minimum starter voltage (V DC)"
                },
                {
                    "path": "/History/MinimumVoltage",
                    "type": "float",
                    "name": "Minimum voltage (V DC)"
                },
                {
                    "path": "/History/TimeSinceLastFullCharge",
                    "type": "float",
                    "name": "Time since last full charge (seconds)"
                },
                {
                    "path": "/History/TotalAhDrawn",
                    "type": "float",
                    "name": "Total Ah drawn (Ah)"
                },
                {
                    "path": "/Relay/0/State",
                    "type": "enum",
                    "name": "Relay status",
                    "enum": {
                        "0": "Open",
                        "1": "Closed"
                    }
                },
                {
                    "path": "/Soc",
                    "type": "float",
                    "name": "State of charge (%)"
                },
                {
                    "path": "/TimeToGo",
                    "type": "float",
                    "name": "Time to go (h)"
                }
            ]
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "initial": "",
        "name": "",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "7bbcafd9643ed6a6"
            ]
        ]
    },
    {
        "id": "fd6a0077c2aee3dd",
        "type": "function",
        "z": "bf06e2c230089da7",
        "name": "function 7",
        "func": "\nvar current = msg.payload[0];\nvar voltage = msg.payload[1];\nvar soc = msg.payload[2];\n\nmsg.payload = \"INSERT INTO battery_measurements (battery_voltage,battery_current,battery_state_of_charge) VALUES (\"+voltage +\",\"+current +\",\"+soc+\");\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 280,
        "wires": [
            [
                "0de38f023babf09f"
            ]
        ]
    },
    {
        "id": "0de38f023babf09f",
        "type": "function",
        "z": "bf06e2c230089da7",
        "name": "function 8",
        "func": "\n\nmsg.queryParameters = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 280,
        "wires": [
            [
                "673fd4ab7106a393"
            ]
        ]
    },
    {
        "id": "f3f89c9b0679380d",
        "type": "join",
        "z": "bf06e2c230089da7",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 280,
        "wires": [
            [
                "fd6a0077c2aee3dd"
            ]
        ]
    },
    {
        "id": "145fa4416f8b42ed",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "f3f89c9b0679380d"
            ]
        ]
    },
    {
        "id": "673fd4ab7106a393",
        "type": "postgres",
        "z": "bf06e2c230089da7",
        "postgresdb": "04babc55b319993e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 1540,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a0b32791ac9aece",
        "type": "victron-input-gps",
        "z": "bf06e2c230089da7",
        "service": "com.victronenergy.gps.ve_ttyACM0",
        "path": "/Position/Latitude",
        "serviceObj": {
            "service": "com.victronenergy.gps.ve_ttyACM0",
            "name": "NMEA-0183 GPS (ACM0)",
            "paths": [
                {
                    "path": "/Altitude",
                    "type": "float",
                    "name": "Altitude (m)"
                },
                {
                    "path": "/Course",
                    "type": "float",
                    "name": "Course (Deg)"
                },
                {
                    "path": "/Fix",
                    "type": "integer",
                    "name": "Fix"
                },
                {
                    "path": "/NrOfSatellites",
                    "type": "integer",
                    "name": "Number of satellites"
                },
                {
                    "path": "/Position/Latitude",
                    "type": "float",
                    "name": "Latitude (LAT)"
                },
                {
                    "path": "/Position/Longitude",
                    "type": "float",
                    "name": "Longitude (LNG)"
                },
                {
                    "path": "/Speed",
                    "type": "float",
                    "name": "Speed (m/s)"
                }
            ]
        },
        "pathObj": {
            "path": "/Position/Latitude",
            "type": "float",
            "name": "Latitude (LAT)"
        },
        "name": "",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "3b6f5c36d7d6b1eb"
            ]
        ]
    },
    {
        "id": "e2da4aef481e64f2",
        "type": "victron-input-gps",
        "z": "bf06e2c230089da7",
        "service": "com.victronenergy.gps.ve_ttyACM0",
        "path": "/Position/Longitude",
        "serviceObj": {
            "service": "com.victronenergy.gps.ve_ttyACM0",
            "name": "NMEA-0183 GPS (ACM0)",
            "paths": [
                {
                    "path": "/Altitude",
                    "type": "float",
                    "name": "Altitude (m)"
                },
                {
                    "path": "/Course",
                    "type": "float",
                    "name": "Course (Deg)"
                },
                {
                    "path": "/Fix",
                    "type": "integer",
                    "name": "Fix"
                },
                {
                    "path": "/NrOfSatellites",
                    "type": "integer",
                    "name": "Number of satellites"
                },
                {
                    "path": "/Position/Latitude",
                    "type": "float",
                    "name": "Latitude (LAT)"
                },
                {
                    "path": "/Position/Longitude",
                    "type": "float",
                    "name": "Longitude (LNG)"
                },
                {
                    "path": "/Speed",
                    "type": "float",
                    "name": "Speed (m/s)"
                }
            ]
        },
        "pathObj": {
            "path": "/Position/Longitude",
            "type": "float",
            "name": "Longitude (LNG)"
        },
        "name": "",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "1d54e32b37643384"
            ]
        ]
    },
    {
        "id": "1d54e32b37643384",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 580,
        "wires": [
            [
                "353f9b69e57a3015"
            ]
        ]
    },
    {
        "id": "3b6f5c36d7d6b1eb",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "353f9b69e57a3015"
            ]
        ]
    },
    {
        "id": "353f9b69e57a3015",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 600,
        "wires": [
            [
                "c63355745e7a1144"
            ]
        ]
    },
    {
        "id": "c63355745e7a1144",
        "type": "join",
        "z": "bf06e2c230089da7",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "ed77fe5af9e5b286"
            ]
        ]
    },
    {
        "id": "ed77fe5af9e5b286",
        "type": "function",
        "z": "bf06e2c230089da7",
        "name": "function 9",
        "func": "\nvar long = msg.payload[0];\nvar lat = msg.payload[1];\n\nmsg.payload = \"INSERT INTO cart_location (cart_longitude,cart_latitude) VALUES (\"+long +\",\"+lat +\");\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 580,
        "wires": [
            [
                "c6a03fb49043eac9",
                "530c49410c4a4b3f"
            ]
        ]
    },
    {
        "id": "c6a03fb49043eac9",
        "type": "function",
        "z": "bf06e2c230089da7",
        "name": "function 10",
        "func": "\n\nmsg.queryParameters = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 540,
        "wires": [
            [
                "f26982fdc686692e"
            ]
        ]
    },
    {
        "id": "f26982fdc686692e",
        "type": "postgres",
        "z": "bf06e2c230089da7",
        "postgresdb": "04babc55b319993e",
        "name": "",
        "output": false,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": false,
        "x": 1700,
        "y": 540,
        "wires": []
    },
    {
        "id": "e55d7a487edbe932",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "145fa4416f8b42ed"
            ]
        ]
    },
    {
        "id": "1f52a6bdaa796a3a",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "145fa4416f8b42ed"
            ]
        ]
    },
    {
        "id": "7bbcafd9643ed6a6",
        "type": "delay",
        "z": "bf06e2c230089da7",
        "name": "",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "145fa4416f8b42ed"
            ]
        ]
    },
    {
        "id": "530c49410c4a4b3f",
        "type": "debug",
        "z": "bf06e2c230089da7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 440,
        "wires": []
    },
    {
        "id": "04babc55b319993e",
        "type": "postgresdb",
        "cfgname": "fleetBase",
        "hostname": "fleet-management-database.csg5vowywacr.us-east-2.rds.amazonaws.com",
        "port": "5432",
        "db": "postgres",
        "ssl": false
    }
]